h1{
    color: red;
}

.wordsearch-grid{
    border-collapse: collapse;
    
    &__cell{
        border: solid 1px purple;
        height: 2rem;
        width: 2rem;
        text-align: center;
    }
}